html {
    box-sizing: border-box;
    font-size: 100%;
    // font-family: 'Times New Roman', serif !important;
    color: gray !important;
    background-color: #f4f8f9;
}

input {
    color: gray !important;
}
